{% extends "../base.twig" %}

{% block content %}
	<h1 id="simple-page-builder">Simple Page Builder</h1>
	<p>
		<a href="https://badge.fury.io/js/%40puresamari%2Fspb"><img src="https://badge.fury.io/js/%40puresamari%2Fspb.svg" alt="npm version"></a>
	</p>
	<p>SPB is a Simple build tool for REALLY simple pages.</p>

  <a class="underline hover:no-underline" href="./docs.html">Go to the docs</a>

  <a class="underline hover:no-underline" href="https://github.com/puresamari/spb">Go to the repo</a>

{% endblock %}
