.DS_Store
node_modules/
index.html
nodemon.json
nodemon.watch.json
.git
.git/
.gitattributes
.github/
.gitmodules
public/
dist/
.editorconfig
.gitignore
examples/
.npmrc
lib/publish-pages.js
lib/examples
publish-pages.js