<!DOCTYPE html>
<html>

	<head>

		<body>
			{% include "./header.twig" %}
      This is the test layouts
			{% block content %}

      This is in the body

			{% endblock %}
		</body>
	</head>
</html>
