script(type="text/javascript").
  var connection = new WebSocket('#{websocketUrl}');

  var reloadPanel = window.document.createElement('p');

  reloadPanel.textContent = 'Compiling...';
  
  reloadPanel.style.display = 'none';
  reloadPanel.style.position = 'absolute';
  reloadPanel.style.right = '16px';
  reloadPanel.style.top = '16px';

  window.document.body.appendChild(reloadPanel);

  /* connection.addEventListener('reload', function incoming(message) {
    alert('please reload');
  }); */

  connection.addEventListener('message', function (event) {
    reloadPanel.style.display = 'none';
    switch (event.data) {
      case 'reload':
        window.location.href = window.location.href;
        return;
      default:
        reloadPanel.style.display = null;
    }
  });
