.flex.flex-row.items-center

  a(href="/").flex.flex-row.items-end.custom
    img.mr-4.w-12(src="./assets/images/logo.png")
  p.ml-4
    a(href="https://badge.fury.io/js/%40puresamari%2Fspb")
    img(src="https://badge.fury.io/js/%40puresamari%2Fspb.svg",alt="")

  .flex.flex-1

  a.mx-4(href="https://github.com/puresamari/spb") github

  a.mx-4(href="docs/") Docs