html
  head
    title Simple page builder
    each stylesheet in spb.stylesheets
      link(rel="stylesheet", type="text/css", href=stylesheet)
  
  body
    include ./header.pug
    p Below
    block content
    each script in spb.scripts
      script(type="text/javascript", src=script)
