html.bg-blue-600
  head
    title Simple page builder
    each stylesheet in spb.stylesheets
      link(rel="stylesheet", type="text/css", href=stylesheet)
  
  body.text-white.flex.flex-col.min-h-full.p-12.w-full.text-center
    include ./header.pug
    block content
    .flex.flex-1
    include ./footer.pug