html
  head
    title Simple page builder
    each stylesheet in spb.stylesheets
      link(rel="stylesheet", type="text/css", href=stylesheet)
  
  body.flex.flex-col.min-h-full
    include ./header.pug
    block content
    .flex.flex-1
    p
      | Created by 
      a(href="rothert.cc") Simon Rothert
    each script in spb.scripts
      script(type="text/javascript", src=script)
