extends layouts/layout.pug

block content
  a.underline(href='./index.html') &lt; Back to the landingpage
  h1#installation Installation
  pre.
    
  h1#cli CLI
  p.bg-black
    | Once the
    code spb
    | &#x9;&#x9;cli is installed you can use the cli.
  h2#usage- Usage:
  pre.
    
  p Options:
  ul
    li
      code -V, --version
      | &#x9;&#x9;&#x9;output the version number
    li
      code -c, --config &lt;path&gt;
      | &#x9;&#x9;&#x9;path to config json file (default: &quot;config.spb.json&quot;)
    li
      code -o, --out &lt;path&gt;
      | &#x9;&#x9;&#x9;where the compiles files should be compiled to (overwrites configurations from the config file)
    li
      code --files &lt;files...&gt;
      | &#x9;&#x9;&#x9;files that should be compiled (overwrites configurations from the config file)
    li
      code --verbose
      | &#x9;&#x9;&#x9;enable verbose logging
    li
      code -h, --help
      | &#x9;&#x9;&#x9;display help for command
  p Commands:
  ul
    li
      code build
      | &#x9;&#x9;&#x9;build once (is default)
      ul
        li
          code
            | $ spb --config examples/hello-world/config.spb.json -o dist --files test.twig ...
    li
      code watch
      | &#x9;&#x9;&#x9;watch and automatically build when input files change
      ul
        li
          code $ spb watch --config examples/hello-world/config.spb.json
  h2#building Building
  h2#config-file Config file
  p
    | You can use a configuration file with the flag
    code -c
    | &#x9;&#x9;or
    code --config
    | .
    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;All options declared in the config file will be overwritten by options from the cli:
  ul
    li
      code spb public -c config.spb.json
      | &#x9;&#x9;&#x9;if the config file has a declaration for output it will be overwritten with
      code public
      | &#x9;&#x9;&#x9;in this case.
    li
      code spb public ./src/styles.css -c config.spb.json
      | &#x9;&#x9;&#x9;if the config file has a declaration for files it will be overwritten with
      code ./src/styles.css
      | &#x9;&#x9;&#x9;in this case.
  p
    | You can also use this projects JSON schema to ensure integrity but it is not necessary.
  p
    | For example when the configuration file (for example named
    code config.spb.json
    | ) is in the root directory and
    code spb
    | &#x9;&#x9;is installed locally:
  pre.
    
  p
    | Using this config file you can then build your project like this:
    code $ spb -c config.spb.json
  h1#compilers Compilers
  p
    | For examples take a look at
    code examples
    | &#x9;&#x9;in this repository. The gh-page for this repository is built using
    code spb
    | &#x9;&#x9;and you can have a look at the setup under
    code examples/spb-page
    | .
  h2#twig twig
  p
    | The
    code spb
    | &#x9;&#x9;adds a context object (
    code spb
    | ) to all .twig files which contains all
    code stylesheets
    | ,
    code scripts
    | &#x9;&#x9;and
    code html
    | &#x9;&#x9;files. This allowes to dynamically add all files to the html page.
