extends layouts/layout.pug

block content
  
  p.my-2 SPB is a Simple build tool for REALLY simple pages.

  a(href="./docs.html") Go to the docs

  //- h2.text-xl.my-2 Download application

  //- a(href="https://github.com/puresamari/spb-app/releases/download/v0.0.2/SPB.zip") Mac
