extends layouts/layout.pug

block content
  h1#simple-page-builder Simple Page Builder
  
  p SPB is a Simple build tool for REALLY simple pages.

  a(href="./docs.html") Go to the docs

  a(href="https://github.com/puresamari/spb") Go to the repo

  a(href="https://raw.githubusercontent.com/puresamari/spb-app/master/deploy/darwin/SPB.app") Download the app
