extends layout.pug

block content
  h1#simple-page-builder Simple Page Builder
  
  p
    a(href="https://badge.fury.io/js/%40puresamari%2Fspb")
      img(src="https://badge.fury.io/js/%40puresamari%2Fspb.svg", alt="npm version")
  
  p SPB is a Simple build tool for REALLY simple pages.

  a.underline(href="./docs.html") Go to the docs

  a.underline(href="https://github.com/puresamari/spb") Go to the repo
