html
  head
    title Simple page builder
    each stylesheet in spb.stylesheets
      link(rel="text/stlesheet", href=stylesheet)
  
  body
    block content
    each script in spb.scripts
      script(type="text/javascript", src=script)
